<%- include("header", {}) %>
    <div class = "contenidoInicioUsuario">
        <!-- contiene todo -->
        <div class="wrapper" id="inicioUsuarioRegistrado"> 
            <div class="acciones">
               <p>"Bienvenido <%= user.username %> a su panel de control"</p>
               <br>
               <p> Acciones:</p>
               <br><br>
               <a href="EnviaDinero"><button class="boton"> Envía dinero</button></a>
               <a href="cambioSaldo"><button class="boton"> Convertir</button></a>
            </div>
            <div class="saldo">
                <br>
                <p>Tu saldo:</p>
                <div class = "cifra">
                    
                    <div class = "acciones2">
                        <button class="boton" id="operacionElegir" onclick="introducirCantidad()"> +-</button>
                        <div id="introducirCantidad">
                            <div>
                                <br>
                                <form method="post" id="annadirDinero">
                                <label>Cantidad</label>
                                <input type="text" id = "cantidad" name="cantidad" required/>
                                <br>
                                <div>
                                <input class="form-check-input" id="check-cliente" type="radio" name="operacion" value="añadir" checked>
                                      <label class="form-check-label" for="check-cliente">
                                        Añadir
                                      </label>                                    
                                      <input class="form-check-input" id="check-duenno" type="radio" name="operacion" value="sacar">
                                      <label class="form-check-label" for="check-duenno">
                                        Sacar
                                      </label>
                                    </div>
                                  </div>
                                <div id="botonesAnnadir">
                                    <button type="submit" class="boton" id="botonca"> Confirmar</button>
                                    <button type="submit" class="boton" onclick="introducirCantidad()"> Cancelar</button>
                                </div>
                        </div>
                    </form>
                        
                        <p> <%= user.saldo %> $</p>
                        
                    </div>
                </div>
            </div>
            <div class="Error"> <%=mensaje%> </div>
            <div class="ultimosMovimientos">
                <p>Aquí puede ver un resumen de sus últimos movimientos</p>
                <div>
                    <table class="tableAdmin">
                        <thead>
                            <tr>
                            <th>#</th>
                            <th>Tipo</th>
                            <th>Remitente</th>
                            <th>Destinatario</th>
                            <th>Cantidad</th>
                            <th>Fecha</th>
                            </tr>
                        </thead>
                        <% i = 0; console.log(transacciones); %>
                        <% transacciones.forEach((transaccion)=>{ %>
                            <% if (i < 6) {%> 
                        <tbody>
                            <tr>
                            <td><%= transaccion.dataValues.id%></td>
                            <td><%= transaccion.dataValues.tipo%></td>
                            <td><%= transaccion.dataValues.emisor %></td>
                            <td><%= transaccion.dataValues.receptor %></td>
                            <td><%= transaccion.dataValues.cantidad %></td>
                            <td><%= transaccion.dataValues.fecha.toLocaleDateString("es-ES")%></td>
                            </tr>
                        </tbody>
                        <% } %>
                        <% i++ %>
                        <% }) %>
                        </table>
                </div>
            </div>
        </div>
<%- include("footer", {}) %>
