<%- include("header", {}) %>
    <div id="containerAdmin">
        <nav class="navAdmin">
            <div class="side_navbar">
            <span>Main Menu</span>
            <a href="interfazAdmin" class="active">Inicio</a>
            <a href="PanelControl">Panel de usuarios</a>
            <a href="validarTransacciones">Validar Transacciones</a>
            <a href="/"> Cerrar Sesión </a>

            <div class="links">
                <span>Quick Link</span>
                <a href="/logout">LogOut</a>
            </div>
            </div>
        </nav>
        <div class="main-body">
            <h2>Dashboard</h2>
            <div class="promo_card">
            <h1>Welcome to SBank</h1>
            <span>Gestiona la información de la aplicación</span>
            <button>Learn More</button>
            </div>
    
            <div class="history_lists">
            <div class="list1">
                <div class="row">
                <h4>History</h4>
                <a href="#">See all</a>
                </div>
                <table class="tableAdmin">
                <thead>
                    <tr>
                    <th>id</th>
                    <th>Since</th>
                    <th>Username</th>
                    <th>Número</th>
                    <th>Saldo</th>
                    </tr>
                </thead>
                <% i = 0; console.log(usuarios); %>
                <% usuarios.forEach((username)=>{ %>
                    <% if (i < 6) {%> 
                <tbody>
                    <tr>
                    <td><%= username.dataValues.id%></td>
                    <td><%= username.dataValues.createdAt %></td>
                    <td><%= username.dataValues.username %></td>
                    <td><%= username.dataValues.phoneNumber %></td>
                    <td><%= username.dataValues.saldo %></td>
                    </tr>
                </tbody>
                <% } %>
                <% i++ %>
                <% }) %>
                </table>
            </div>
    
            <div class="list2">
                <div class="row">
                <h4>Logs</h4>
                <a href="#">Upload</a>
                </div>
                <table class="tableAdmin">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>Tipo</th>
                    <th>Remitente</th>
                    <th>Destinatario</th>
                    <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>1</td>
                    <td>Bizum</td>
                    <td>689123455</td>
                    <td>678901234</td>
                    <td>20</td>
                    </tr>
                    <tr>
                    <td>2</td>
                    <td>Transaccion</td>
                    <td>621345677</td>
                    <td>698321576</td>
                    <td>65</td>
                    </tr>
                    <tr>
                    <td>3</td>
                    <td>Transaccion</td>
                    <td>652138934</td>
                    <td>679312356</td>
                    <td>50</td>
                    </tr>
                    <tr>
                    <td>4</td>
                    <td>Bizum</td>
                    <td>619834657</td>
                    <td>650123456</td>
                    <td>10</td>
                    </tr> 
                    <tr>
                    <td>5</td>
                    <td>Transaccion</td>
                    <td>692173094</td>
                    <td>620923458</td>
                    <td>100</td>
                    </tr> 
                    <tr>
                    <td>6</td>
                    <td>Transaccion</td>
                    <td>670129405</td>
                    <td>645789012</td>
                    <td>80</td>
                    </tr> 
                </tbody>
                </table>
            </div>
            </div>
        </div>
    
        <%- include("footer", {}) %>
    </body>
    </html>

    