<%- include("header", {}) %>
      <div id="containerAdminP">
        <nav class="navAdmin" id="navAdmin">
            <div class="side_navbar">
            <span>Main Menu</span>
            <a href="interfazAdmin" class="active">Inicio</a>
            <a href="PanelControl">Panel de usuarios</a>
            <a href="validarTransacciones">Validar Transacciones</a>
            <a href="/"> Cerrar Sesión </a>

            <div class="links">
                <span>Quick Link</span>
                <a href="/logout">LogOut</a>
            </div>
            </div>
        </nav>
        <div class="main-body" id="mainBodyPanel">
          <h2>Dashboard</h2>
           <% i = 0; <!--console.log(usuarios);--> %> 
        <% usuarios.forEach((username)=>{ %> <!-- si es con array, es  <% Object.keys(usuarios).forEach((nombreUsuario)=>{ %> -->
          <% if (i < 4) {%> 
            <div class="promo_card">
              <h1><%= username.dataValues.username%></h1> <!-- si es con array, es <%=usuarios[nombreUsuario].username %>-->
              <span>Gestiona la información del usuario</span>
              <button>Learn More</button>
              <div id="botonPanel">
                <button onclick="toggleDropdown('dropdown<%=i%>')" class="dropbtn">Acciones</button>
                <div id="dropdown<%=i%>" class="dropdown-content">
                  <form action="#" method="post">                 <!--creo que tengo que poner un get para las transacciones-->
                    <button name = "username" value="<%= username.dataValues.username%>"> Transacciones </button>
                  </form>
                  <form action="/panelControl/deleteUser" method="post">                 <!--al poner deleteUser, hace lo que haga el post de admin.js que se llame deleteUser-->
                    <button name = "username" value="<%= username.dataValues.username%>"> Eliminar </button> <!-- si es con array, es <%=usuarios[nombreUsuario].username %>-->
                  </form>
                </div>
              </div>
            </div>
          <% } %>
          <% i++ %>
        <% }) %>
        </div>
      <div class="sidebarDerecha" id="sidebarAdminP">
      <h4>Usuarios</h4>
        <% i = 0;%>
        <% usuarios.forEach((username)=>{ %>
          <% if (i < 8) {%> 
            <div class="balance">
              <div class="info">
                  <h5><%= username.dataValues.username%></h5>
                  <span><%= username.dataValues.last_login.toISOString()%></span>
              </div>
              </div>
          <% } %>
          <% i++ %>
        <% }) %>
    </div>
    </body>
    </html>
