<%- include("header", {}) %>
        <nav class="navAdmin" id="navAdminT">
            <div class="side_navbar">
            <span>Main Menu</span>
            <a href="interfazAdmin" class="active">Inicio</a>
            <a href="PanelControl">Panel de usuarios</a>
            <a href="validarTransacciones">Validar Transacciones</a>
            <a href="/"> Cerrar Sesión </a>

            <div class="links">
                <span>Quick Link</span>
                <a href="/logout">LogOut</a>
            </div>
            </div>
        </nav>
        <div class="main-body" id="mainBodyPanelT">
            <br>
            <br>
          <h2>Dashboard</h2>
          <% i = 0; %>
            <% transacciones.forEach((transaccion)=>{ %>
            <% if (i < 1) {%> 
          <div class="contenedorTransacciones">
            <h1>Transacción</h1>
            <div id="informacionContenedorTransacciones">
                <div class="contenedorTransaccionesPreguntas">
                    <span>Usuario emisor: </span>
                    <span>Usuario receptor: </span>
                    <span>cantidad enviada: </span>
                    <span>id transacción: </span>
                </div>
                <div class="contenedorTransaccionesRespuestas">
                    <span> <%= transaccion.dataValues.emisor%></span>
                    <span> <%= transaccion.dataValues.receptor%></span>
                    <span> <%= transaccion.dataValues.cantidad%></span>
                    <span> <%= transaccion.dataValues.id%> </span>
                </div>
            </div>
            <div id="botonTransaccion">
                <form action="/validarTransacciones/updateTransaccion" method="post">
                    <button id="aceptarTransaccion" name="username" value="<%=transaccion.dataValues.id%>"> Aceptar</button>
                </form>
                <form action="/validarTransacciones/deleteTransaccion" method="post">
                    <button id="RechazarTransaccion" name="username" value="<%=transaccion.dataValues.id%>"> Rechazar</button>
                </form>
            </div>
            <% } %>
        <% i++ %>
        <% }) %>        
            </div>
        </div>
        <div class="sidebarDerecha" id="sidebarAdminT">
        <h4>Usuarios</h4>
          <% i = 0;%>
          <% usuarios.forEach((username)=>{ %>
            <% if (i < 8) {%> 
              <div class="balance">
                <div class="info">
                    <h5><%= username.dataValues.username%></h5>
                    <span><%= username.dataValues.last_login.toISOString()%></span>
                </div>
                </div>
            <% } %>
            <% i++ %>
          <% }) %>
          </div>
    </body>
    </html>
